*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.container{
    background:white;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows:minmax(50px,auto);
    grid-gap: 1em;
}
/* .item{
    border: 2px solid black;
} */
.box1{
    grid-column: 1/7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6vw;
    width: 100vw;
    position: fixed;
    background: gray;
    z-index: 1;
}
.list ul{
    display: flex;
    flex-direction: row;
    position:absolute;
    left: 140px;
    top: 23px;
}
.list ul li{
    list-style: none;
    padding: 10px;
}
.list ul li a{
    text-decoration: none;
    color: whitesmoke;
    display: block;
    font-size: 17px;
    
}
.list ul li a:hover{
    color: white;
    font-weight: bolder;    
}
#logo{
    position: absolute;
    left: 20px;
}
#logo img{
    width: 88px;
    height: 66px;
}
.media ul{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 40px;
    top: 23px;
}
.media ul li{
    list-style: none;
    padding: 10px;
}
.box2{
    grid-column: 1/7;
    grid-row: 2/3;
    width: 98.45vw;
    height: 40vw;
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box2 img{
    position: absolute;
    right: 0px;
}
.box2 h1{
    position: absolute;
    top: 140px;
    color:#351f6b;
    font-size: 5rem;
}
.box2 p{
    position: absolute;
    top: 230px;
    font-size: 1.5em;
    color:#351f6b ;
    font-weight: bolder;
}
.box3, .box4, .box5{
   transition: ease-in-out 0.5s;
}
.box3{
    grid-column: 1/3;
    grid-row: 3/6;
    position: relative;
    bottom: 60px;
    left: 116px;
    width: 20vw;
    height: 24vw;
}
.box3 p{
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
}
.box4{
    grid-column: 3/5 ;
    grid-row: 3/6;
    position:relative;
    bottom: 60px;
    left: 74px;
    width: 20vw;
    height: 24vw;
}
.box4 p{
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    bottom: 10px;
    left: 60px;
    color: white;
}
.box5{
    grid-column: 5/7;
    grid-row: 3/6;
    position:relative;
    bottom: 60px;
    left: 22px;
    width: 20vw;
    height: 24vw;
}
.box5 p{
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    bottom: 10px;
    left: 45px;
    color: white;
}
.box3:hover , .box4:hover , .box5:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.box6{
    grid-column: 1/7;
    grid-row: 6/8;
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.about-img{
    width: 60vw;
    height: 300px;
}
.about-info{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-info h1{
    margin-bottom: 10px;
}
.about-info .btn{
    position: relative;
    right: 180px;
    top: 27px;
    padding: 13px;
    background-color:skyblue;
}
.about-info .btn1{
    position: relative;
    left: 100px;
    top: -18px;
    padding: 13px;
    
}
.btn:hover{
    cursor: pointer;
    background-color: white;
}
.btn1:hover{
    cursor: pointer;
    background-color: skyblue;
}
.box7{
    grid-column: 1/7;
    grid-row: 8/10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box7 .grid{
    margin-top: 10px;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:minmax(50px,auto);
    grid-gap: 1em;
}
.ibox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 25vh;
}
.ibox:hover{
    cursor: pointer;
    box-shadow: 4px 4px 14px 7px gray;
    background-color: whitesmoke;
}
.box7 .grid .ibox a{
    text-decoration: none;
    color: black;
}
.box7 .grid .ibox a:hover{
    color: blue;
}
.box8{
    grid-column: 1/7;
    grid-row: 10/12;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box8 .foa{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.box8 .foa img{
    width: 60vw;
    height: 300px;
}
.box8 .foa-info{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box8 .foa-info h1{
    margin-bottom: 10px;
}
.box8 .foa-info .btn{
    position: relative;
    right: 180px;
    top: 27px;
    padding: 13px;
    background-color:skyblue;
}
.box8 .foa-info .btn:hover{
    cursor: pointer;
    background-color: white;
}
.box9{
    grid-column: 1/7;
    grid-row: 12/14;
    height: 80vh;
}
.box9 img{
    position: absolute;
    opacity: 0.7;
}
.box9 .form{
    position: relative;
    bottom: 4vw;
    left: 400px;
    padding: 75px;
    width: 33%;
}
/* @media (min-width: 1000px) and (max-width:1199px) {
    .box9 .form{
     width: 40%;
     left: 30vw;
    }
}
@media (min-width: 699px) and (max-width:999px) {
    .box9 .form{
     width: 40%;
     left: 10vw;
    }
    .box9 .form p{
        visibility: hidden;
    }
    .box9 .form form{
        position: absolute;
        bottom: 1vw;
    }
} */
.box9 .form .form-info{
    color: white;
    position: relative;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box9 .form .form-info h1{
    font-size: 2.5rem;
    font-weight: bolder;
}
.box9 .form .form1 input{
    text-align: center;
    display: block;
    width: 308px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}
.box9 .form button{
    display: block;
    width: 30%;
    margin: 22px 150px;
    background-color: black;
    color: white;
    padding: 8px 17px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
}
.box9 .form .btn:hover{
    color: blue;
}
.box10{
    grid-column: 1/7;
    grid-row: 14/16;
    height: 80vh;
}
.box10 img{
    opacity: 0.9;
}
.box10 .mail{
    position: relative;
    bottom: 36vw;
    left: 400px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}
.box10 .mail .mail-info{
    color: white;
    position: relative;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box10 .mail .mail-info h1{
    font-size: 2.5rem;
    font-weight: bolder;
}
.box10 .mail .mail-form input{
    text-align: center;
    display: block;
    width: 308px;
    margin-top: 25px;
    padding: 6px;
    font-size: 26px;
}
.box10 .mail button{
    display: block;
    background-color: white;
    color: black;
    padding: 13px;
    font-size: 21px;
    position: relative;
    cursor: pointer;
    bottom: 50px;
    left: 330px;
}
.box10 .mail .btn:hover{
    background-color: skyblue;
}
.box11{
    grid-column: 1/7;
    grid-row: 16/18;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.box11 .footer1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(50px,auto);
    grid-gap: 1em;
    background-color:#162e44;
}
.box11 .footer1 ul{
    display: flex;
    flex-direction: column;
    position:relative;    
}
.box11 .footer1 ul li{
    font-size: 15px;
    font-weight: bolder;
    list-style: none;
    padding: 10px;
}
.box11 .footer1 ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
.box11 .footer1 ul li a:hover{
    color: blue;
}
.box11 .footer1 h1{
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    font-weight: bolder;
}
.box11 .footer2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11263a;
    height: 100px;
    color: white;
}
/* About page  */
.second-box{
    background:white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:minmax(50px,auto);
    grid-gap: 1em;
}
.second-box .about-page{
    grid-column: 1/7;
    grid-row: 2/16;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows:minmax(50px,auto);
    grid-gap: 1em;
}
.second-box .about-page .about-intro{
    width: 98.8vw;
    height: 33.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-box .about-page .about-intro img{
    height: 80%;
    position: absolute;
}
.second-box .about-page .about-intro h1{
    position: absolute;
    color: white;
    font-size: 5rem;
}
.second-box .about-page .why{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.second-box .about-page .why img{
    width: 40vw;
    height: 308px;
}
.second-box .about-page .why .why1{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-box .about-page .why  h1{
    margin-bottom: 20px;
}
.second-box .about-page .why  .btn{
    position: relative;
    right: 180px;
    top: 27px;
    padding: 13px;
    width: 80px;
    background-color:skyblue;
}
.second-box .about-page .why  .btn1{
    position: relative;
    left: 100px;
    top: -18px;
    padding: 13px;
}
.second-box .about-page .why  .btn:hover{
    cursor: pointer;
    background-color: white;
}
.second-box .about-page .why  .btn1:hover{
    cursor: pointer;
    background-color: skyblue;
}
.second-box .about-page .places{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-box .about-page .places .places1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows:minmax(50px,auto);
    grid-gap: 1em;
}
.second-box .about-page .places .places1 a{
    font-weight: bolder;
    position: relative;
    bottom: 36px;
    left: 99px;
    text-decoration: none;
    color: white;
    font-size: 23px;
}
.second-box .about-page .places .places1 .pics1 a{
    left: 80px;
}
.second-box .about-page .places .places1 a:hover{
    color: blue;
}
/* services page */
.second-box .service .services{
    width: 98.8vw;
    height: 36vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-box .service .services img{
    height: 76%;
    position: absolute;
}
.second-box .service .services h1{
    position: absolute;
    color: white;
    font-size: 5rem;
}
.second-box .service{
    grid-column: 1/6;
    grid-row: 2/16;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows:minmax(50px,auto);
    grid-gap: 1em;
}
.second-box .service .services{
    grid-column: 1/7;
    grid-row: 1/4;
}
.second-box .service .servicebox{
    grid-column: 1/7;
    grid-row: 5/10;
}
/* hot tours page */
.second-box .tour .tours{
    width: 98.8vw;
    height: 36vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-box .tour .tours img{
    height: 76%;
    position: absolute;
}
.second-box .tour .tours h1{
    position: absolute;
    color: white;
    font-size: 5rem;
}
.second-box .tour{
    grid-column: 1/6;
    grid-row: 2/16;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows:minmax(50px,auto);
    grid-gap: 1em;
}
.second-box .tour .tours{
    grid-column: 1/7;
    grid-row: 1/4;
}
.second-box .tour .tour-info{
    grid-column: 1/7;
    grid-row: 5/10;
}
.second-box .tour .tour-info .tour-pics{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.second-box .tour .tour-info .tour-pics img{
    width: 60vw;
    height: 300px;
}
.second-box .tour .tour-info .tour-pics .about-info{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-box .tour .tour-info .tour-pics .about-info h1{
    margin-bottom: 10px;
}
.second-box .tour .tour-info .tour-pics .about-info .btn{
    position: relative;
    right: 150px;
    top: 27px;
    padding: 13px;
    background-color:skyblue;
}
.second-box .tour .tour-info .tour-pics .about-info .btn:hover{
    cursor: pointer;
    background-color: white;
}
